.info {
  width: 27.8125rem;
  height: 26.625rem;
  margin-top: 5rem;
  display: block;
  text-align: start;
  * {
    margin: 0;
    padding: 0;
  }
  .p1 {
    color: #ff7e1b;
    font-size: 0.8125rem;
    font-family: Kumbh Sans;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    width: 27.8125rem;
  }
  .p2 {
    color: #1d2026;
    font-size: 2.75rem;
    font-family: Kumbh Sans;
    font-weight: 700;
    line-height: 3rem;
    width: 27.8125rem;
    margin-top: 1.5rem;
  }
  .p3 {
    color: #69707d;
    font-size: 1rem;
    font-family: Kumbh Sans;
    line-height: 1.625rem;
    width: 27.8125rem;
    margin-top: 2rem;
  }
  .numbers {
    display: flex;
    width: 10.8125rem;
    height: 4.25rem;
    justify-content: space-between;
    margin-top: 1.5rem;
    .number1 {
      color: #1d2026;
      font-size: 1.75rem;
      font-family: Kumbh Sans;
      font-weight: 700;
    }
    .number2 {
      position: inherit;
      color: #b6bcc8;
      font-size: 1rem;
      font-family: Kumbh Sans;
      font-weight: 700;
      line-height: 1.625rem;
      text-decoration-line: line-through;
    }
    .number3 {
      color: #ff7e1b;
      font-size: 1rem;
      font-family: Kumbh Sans;
      font-weight: 700;
      width: 3.1875rem;
      height: 1.6875rem;
      border-radius: 6px;
      background: #ffeee2;
      text-align: center;
      padding-top: 0.5rem;
    }
  }
  .addCart {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    .functionality {
      width: 9.8125rem;
      height: 3.5rem;
      border-radius: 10px;
      background: #f6f8fd;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      img {
        cursor: pointer;
        width: 0.75rem;
        height: 0.20825rem;
      }
      .plus {
        height: 0.75rem;
      }
      .count {
        color: #1d2026;
        text-align: center;
        font-size: 1rem;
        font-family: Kumbh Sans;
        font-weight: 700;
      }
    }
    button {
      width: 17rem;
      height: 3.5rem;
      border-radius: 10px;
      background: #ff7e1b;
      box-shadow: 0px 20px 50px -20px #ff7e1b;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      img {
        width: 1.09106rem;
        height: 1rem;
        color: white;
        margin-right: 1rem;
        border-radius: 0;
      }
      p {
        color: #fff;
        font-size: 1rem;
        font-family: Kumbh Sans;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 375px) {
  .info {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    .p1 {
      color: #ff7e1b;
      font-size: 0.75rem;
      font-family: Kumbh Sans;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.11538rem;
      text-transform: uppercase;
      width: 20.4375rem;
    }
    .p2 {
      width: 20.4375rem;
      color: #1d2026;
      margin-top: 1.19rem;
      font-size: 1.75rem;
      font-family: Kumbh Sans;
      font-style: normal;
      font-weight: 700;
      line-height: 2rem;
    }
    .p3 {
      margin-top: 0.94rem;
      width: 20.4375rem;
      color: #69707d;
      font-size: 0.9375rem;
      font-family: Kumbh Sans;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5625rem;
    }
    .numbers {
      margin-top: 1.75rem;
      width: 20.375rem;
      height: 2.125rem;
      justify-content: start;
      .number1 {
        color: #1d2026;
        font-size: 1.75rem;
        font-family: Kumbh Sans;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .number3 {
        color: #ff7e1b;
        font-size: 1rem;
        font-family: Kumbh Sans;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 1.5rem;
      }
      .number2 {
        position: absolute;
        top: 39.8rem;
        left: 17.94rem;
        color: #b6bcc8;
        font-size: 1rem;
        font-family: Kumbh Sans;
        font-style: normal;
        font-weight: 700;
        line-height: 1.625rem;
      }
    }
    .addCart {
      flex-direction: column;
      margin-top: 1.63rem;
      .functionality {
        width: 20.4375rem;
        height: 3.5rem;
      }
      button {
        width: 20.4375rem;
        height: 3.5rem;
        margin-top: 1rem;
      }
    }
  }
}
